In [1]:
import numpy as np 
import pandas as pd

from tabula import read_pdf
from tabulate import tabulate

In [5]:
import os
os.getcwd()

pdf_dir = 'Raw Data/'
print(os.listdir(pdf_dir))

['URS_PuertoRico.pdf', 'URS_VA.pdf', 'URS_Palau.pdf', 'URS_SC.pdf']
                                Measure Number of Clients  \
0   Total Clients Served by SMHA System           123,936
1  Clients Served in Community Settings           122,155
2     Clients Served in State Hospitals             5,327

   Utilization Rate Per 1,000 Population
0                                   14.3
1                                   14.1
2                                    0.6

In [12]:
## Read table from pdf file

pdf_dir = 'Raw Data/'
os.listdir

tables_pg4 = read_pdf(os.path.join(pdf_dir, "URS_VA.pdf"), pages=4, multiple_tables=True)

## Read tables[2] into a dataframe 
df_total = pd.DataFrame(tables_pg4[2])

## Save the served patients by age group into a separate table 
tables_pg5= read_pdf(os.path.join(pdf_dir,"URS_VA.pdf"), pages=5, multiple_tables=True )

df_age = pd.DataFrame(tables_pg5[0])

# Only selecting specfic rows and columns that are associated with served patients & rates
df_ageshort = df_age[["Unnamed: 0", "Unnamed: 1", "Unnamed: 5"]][4:13]

# Rename the df_ageshort dataframe by the column index
df_2 = df_ageshort.rename(columns={df_ageshort.columns[0]: "Measure", 
                                    df_ageshort.columns[1]: "PatientsServed", 
                                    df_ageshort.columns[2]: "ServedRate"})

df_2.head(10)

## Combine Total measure summary table with the age table 
# First rename the Total measure summary table so it will be eaiser to append
df_total = df_total.rename(columns= {df_total.columns[1]: "PatientsServed", 
                                     df_total.columns[2]: "ServedRate"})

df_total.head(5)

df_transformed = df_total.append(df_2)

# Add a column indicating the state 
df_transformed['State'] = 'VA'

                                Measure Number of Clients  \
0   Total Clients Served by SMHA System           123,936
1  Clients Served in Community Settings           122,155
2     Clients Served in State Hospitals             5,327

   Utilization Rate Per 1,000 Population
0                                   14.3
1                                   14.1
2                                    0.6

Index(['Measure', 'Number of Clients',
       'Utilization Rate Per 1,000 Population'],
      dtype='object')

                      Unnamed: 0 Unnamed: 1 Unnamed: 2      Total Served  \
0                            NaN        NaN        NaN               NaN
1                            NaN        NaN      State               NaN
2                   Demographics          n        NaN               % n
3                          Total    123,936        NaN  100.0% 8,180,236
4                           0-12     15,802        NaN   12.8% 1,158,981
5                          13-17     18,129        NaN   14.6% 1,038,021
6                          18-20      5,825        NaN      4.7% 412,521
7                          21-24      6,879        NaN      5.6% 492,047
8                          25-44     39,398        NaN   31.8% 2,703,227
9                          45-64     30,113        NaN   24.3% 1,868,490
10                         65-74      6,130        NaN      4.9% 352,243
11                   75 and over      1,656        NaN      1.3% 137,344
12             Age Not Available          4        NaN       0.0% 17,362
13                        Female     63,673        NaN   51.4% 4,394,191
14                          Male     60,122        NaN   48.5% 3,730,939
15                         Other          -        NaN          - 16,811
16          Gender Not Available        141        NaN       0.1% 38,295
17       American Indian/Alaskan        NaN        NaN               NaN
18                           NaN        279        NaN      0.2% 152,709
19                        Native        NaN        NaN               NaN
20                         Asian      1,583        NaN      1.3% 129,994
21        Black/African American     33,495        NaN   27.0% 1,424,351
22       Native Hawaiian/Pacific        NaN        NaN               NaN
23                           NaN        109        NaN       0.1% 24,325
24                      Islander        NaN        NaN               NaN
25                         White     74,371        NaN   60.0% 4,737,430
26                  Multi-Racial      5,724        NaN      4.6% 231,800
27            Race Not Available      8,375        NaN    6.8% 1,479,627
28  Hispanic or Latino Ethnicity      9,662        NaN    7.8% 1,164,171
29        Not Hispanic or Latino        NaN        NaN               NaN
30                           NaN    110,322        NaN   89.0% 5,482,345
31                     Ethnicity        NaN        NaN               NaN
32       Ethnicity Not Available      3,952        NaN      3.2% 715,131

   Unnamed: 3 Unnamed: 4 Unnamed: 5       Penetration Rates Unnamed: 6  \
0         NaN        NaN        NaN                     NaN        NaN
1          US        NaN        NaN  (per 1,000 population)        NaN
2         NaN          %      State                   South         US
3         NaN     100.0%       14.3                    16.7       24.4
4         NaN      14.2%       11.9                    14.6       22.4
5         NaN      12.7%       32.7                    32.9       47.5
6         NaN       5.0%       16.9                    22.0       31.9
7         NaN       6.0%       15.1                    20.4       28.6
8         NaN      33.0%       16.8                    22.1       30.4
9         NaN      22.8%       13.6                    15.5       22.4
10        NaN       4.3%        7.2                     5.4       10.5
11        NaN       1.7%        3.0                     2.0        6.2
12        NaN       0.2%          -                       -          -
13        NaN      53.7%       14.6                    17.5       25.9
14        NaN      45.6%       14.1                    15.7       22.4
15        NaN       0.2%          -                       -          -
16        NaN       0.5%          -                       -          -
17        NaN        NaN        NaN                     NaN        NaN
18        NaN       1.9%        5.7                    10.0       35.0
19        NaN        NaN        NaN                     NaN        NaN
20        NaN       1.6%        2.5                     2.8        6.4
21        NaN      17.4%       19.4                    19.6       31.6
22        NaN        NaN        NaN                     NaN        NaN
23        NaN       0.3%       10.2                    16.0       28.6
24        NaN        NaN        NaN                     NaN        NaN
25        NaN      57.9%       12.5                    14.2       18.8
26        NaN       2.8%       19.8                    17.9       25.7
27        NaN      18.1%          -                       -          -
28        NaN      15.8%       10.9                     6.2       19.4
29        NaN      74.5%        NaN                     NaN        NaN
30        NaN        NaN       14.2                    13.3       21.3
31        NaN        NaN        NaN                     NaN        NaN
32        NaN       9.7%          -                       -          -

   Unnamed: 7
0      States
1         NaN
2   Reporting
3          59
4          59
5          59
6          59
7          59
8          59
9          59
10         59
11         58
12         24
13         59
14         59
15         12
16         38
17        NaN
18         53
19        NaN
20         57
21         54
22        NaN
23         53
24        NaN
25         57
26         50
27         54
28         52
29        NaN
30         56
31        NaN
32         43

Index(['Unnamed: 0', 'Unnamed: 1', 'Unnamed: 2', 'Total Served', 'Unnamed: 3',
       'Unnamed: 4', 'Unnamed: 5', 'Penetration Rates', 'Unnamed: 6',
       'Unnamed: 7'],
      dtype='object')

RangeIndex(start=4, stop=13, step=1)

              Measure PatientsServed ServedRate
4                0-12         15,802       11.9
5               13-17         18,129       32.7
6               18-20          5,825       16.9
7               21-24          6,879       15.1
8               25-44         39,398       16.8
9               45-64         30,113       13.6
10              65-74          6,130        7.2
11        75 and over          1,656        3.0
12  Age Not Available              4          -

                                 Measure PatientsServed ServedRate State
0    Total Clients Served by SMHA System        123,936       14.3    VA
1   Clients Served in Community Settings        122,155       14.1    VA
2      Clients Served in State Hospitals          5,327        0.6    VA
4                                   0-12         15,802       11.9    VA
5                                  13-17         18,129       32.7    VA
6                                  18-20          5,825       16.9    VA
7                                  21-24          6,879       15.1    VA
8                                  25-44         39,398       16.8    VA
9                                  45-64         30,113       13.6    VA
10                                 65-74          6,130        7.2    VA
11                           75 and over          1,656        3.0    VA
12                     Age Not Available              4          -    VA

/var/folders/55/27d1cbps3wdcwcpwg9hs8vg80000gn/T/ipykernel_41872/4116404047.py:9: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_va = df_total.append(df_2)